# Domains
OC3_DOMAIN=oc3.localhost
OC4_DOMAIN=oc4.localhost

# Database
MARIADB_ROOT_PASSWORD=root
MARIADB_DATABASE=oc
MARIADB_USER=oc
MARIADB_PASSWORD=oc

# Source code paths (relative to this repo)
OC3_PATH=../oc3
OC4_PATH=../oc4
